.App {
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  background: #f3f5fa;
}

.head {
  min-height: 5em;
  background-color: #282c34; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.body {
  margin: 15px
}

